/* navbar */
.page-footer{
    background-color: #e0ebe8;
    padding: 3rem;
    
}
.custom-navbar {
    background-color: #e0ebe8;
    margin-bottom: 0px;
}


/* navbar-brand */
.custom-navbar-brand{
    font-size:2rem;
    color: #1e836c;
    font-style: bold;
    
}

.custom-navbar-profile-user{
    font-size:1.5rem;
    color: #1e836c;
    font-style: bold;
}

.custom-nav-item-profile {
    height: auto;
    width: 5rem;
    font-size: 1.25rem;
    border: solid 1px #1e836c;
    border-radius: 10%;
}

/* navbar-item */
.custom-nav-item {
    font-size: 1.25rem;
    color:#45b29a
}

/* navbar-item */
.custom-nav-drop-item {
    font-size: 1rem;
    color:black;
    
}

 /* hover for the navbrand */
a:hover {
    color: #306844 !important; 
}

/* hover color nav-items */
ul.nav a:hover {
    color: #1e836c !important; 
}
   
/* Change color of the nav-icon of mobile */
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(30, 131, 108)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .custom-toggler.navbar-toggler {
    border-color: rgb(30, 131, 108);
    border: 2px solid rgb(30, 131, 108);
  } 

  /* header part  */
.headerContainer {
    /* padding: 5% 25%; */
    background-image: url("/images/HEADER-IMAGE-BIG1.jpg");
    background-color: #cccccc;
    height: 55rem;
    /* background-position: top; */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 2rem;
}

.recipesContainer {

    margin-bottom: 2rem;

   padding: 0% 5%;

}

.custom-footer {
    padding: 2rem;
}


.container {
    padding: 5%;
}

/* home page buttons */
.join-now-button,
.learn-more-button {
    margin-top: 1rem;
    margin-bottom:1rem;

    margin-top: 2rem;
}

.join-now-button {
    margin-left:0.25rem;
}

.learn-more-button {
    margin-right:0.25rem;
}

/* recipes custom */
.test {
    margin-left: 25%;

}


@import url('https://fonts.googleapis.com/css?family=Tajawal');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

section{
	padding: 60px 0;
}

#accordion-style-1 h1,
#accordion-style-1 a{
    color:#007b5e;
}
#accordion-style-1 .btn-link {
    font-weight: 400;
    color: #007b5e;
    background-color: transparent;
    text-decoration: none !important;
    font-size: 16px;
    font-weight: bold;
	padding-left: 25px;
}

#accordion-style-1 .card-body {
    border-top: 2px solid #007b5e;
}

#accordion-style-1 .card-header .btn.collapsed .fa.main{
	display:none;
}

#accordion-style-1 .card-header .btn .fa.main{
	background: #007b5e;
    padding: 13px 11px;
    color: #ffffff;
    width: 35px;
    height: 41px;
    position: absolute;
    left: -1px;
    top: 10px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
	display:block;
}