/* navbar */
.page-footer, .custom-navbar{
    background-color: #e0ebe8;
    padding: 1.5rem;
    margin-bottom: 0px;
}


/* navbar-brand */
.custom-navbar-brand{
    font-size:2rem;
    color: #1e836c;
    font-style: bold;
    
}

.custom-navbar-profile-user{
    font-size:1.5rem;
    color: #1e836c;
    font-style: bold;
}

.custom-nav-item-profile {
    height: auto;
    width: 5rem;
    font-size: 1.25rem;
    border: solid 1px #1e836c;
    border-radius: 10%;
}

/* navbar-item */
.custom-nav-item {
    font-size: 1.25rem;
    color:#45b29a
}

/* navbar-item */
.custom-nav-drop-item {
    font-size: 1rem;
    color:black;
    
}

 /* hover for the navbrand */
a:hover {
    color: #306844 !important; 
}

/* hover color nav-items */
ul.nav a:hover {
    color: #1e836c !important; 
}
   
/* Change color of the nav-icon of mobile */
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(30, 131, 108)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .custom-toggler.navbar-toggler {
    border-color: rgb(30, 131, 108);
    border: 2px solid rgb(30, 131, 108);
  } 

  /* header part  */
.headerContainer {
    /* padding: 5% 25%; */
    background-image: url("/images/HEADER-IMAGE-BIG1.jpg");
    background-color: #cccccc;
    height: 55rem;
    /* background-position: top; */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 2rem;
}

.recipesContainer {

    margin-bottom: 2rem;

   padding: 0% 5%;

}

.custom-footer {
    padding: 2rem;
}


.container {
    padding: 5%;
}

/* home page buttons */
.join-now-button,
.learn-more-button {
    margin-top: 1rem;
    margin-bottom:1rem;

    margin-top: 2rem;
}

.join-now-button {
    margin-left:0.25rem;
}

.learn-more-button {
    margin-right:0.25rem;
}

/* recipes custom */
.test {
    margin-left: 25%;

}